#photo-container * {pointer-events: none;}

:root {
	--font-main: 'Roboto', sans-serif;
	--font-color-main: rgb(230, 230, 230);

	--accent-color-bright: rgb(255, 75, 255);;
	--accent-color-dark: #1e1e1e;
	--fw-rg: 400;

	--brightness: brightness(100%);
	--contrast: contrast(100%);
	--grayscale: grayscale(0%);
	--saturate: saturate(100%);
	--opacity: opacity(100%);
	--hue-rotate: hue-rotate(0);
}

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--accent-color-dark);
	font-family: var(--font-main);
	font-weight: var(--fw-rg);
	color: var(--font-color-main);
}

.fa-image {
	color: var(--font-color-main);
}

.button {
	border-style: none;
	cursor: pointer;
	border: 1px solid var(--accent-color-dark);
	padding: 8px 14px;
	font-size: 2rem;
	border-radius: 10px;
	color: var(--accent-color-dark);
	background: var(--accent-color-bright);
}

#app-container {
	min-width: 80%;
	min-height: 60%;
	display: flex;
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 0 20px 5px #111111;
}

#photo-container {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #282828;
}

#photo-container :nth-child(1) {
	font-size: 3rem;
}

#photo-container :nth-child(2) {
	margin: 30px 0;
}



#setting-container {
	padding: 50px;
	display: flex;
	flex-direction: column;
	width: 40%;
	background: #535353;
}

.slider-wrapper {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
}

input[type='range'] {
	-webkit-appearance: none;
	margin: 15px 0 30px;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: var(--accent-color-dark);
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--accent-color-bright);
	border: 1px solid var(--accent-color-dark);
}

input[type='range']::-moz-range-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--accent-color-bright);
	border: 1px solid var(--accent-color-dark);
}


.value-imager {
	transform: translate(0, -8px);
	display: inline-block;
	width: 50px;
	text-align: center;
	border: 1px solid var(--accent-color-dark);
	border-radius: 2px;
	margin-left: 5%;
	padding: 4px;
	font-size: 0.9rem;
}

#setting-buttons-wrapper {
	margin-top: 10px;
	display: flex;
	justify-content: end;
	align-items: center;
}

#setting-buttons-wrapper > * {
	transform: scale(0.75);
}

.reset-button {
	background: rgba(40, 40, 40, 0.3);
	color: var(--font-color-main);
	border: none
}

.image-box {
	max-width: 500px;
}

.source-image {
	max-width: 100%;
	max-height: 100%;
	filter:
		var(--brightness)
		var(--contrast)
		var(--grayscale)
		var(--saturate)
		var(--opacity)
		var(--hue-rotate)
}